
@model UserCardVM

@section Styles{
    <link href="~/assets/vendor/lightpick.css" rel="stylesheet" type="text/css" />
}


<div class="row mt-4">
    <div class="col-lg-4">
        <div id="user-card">
            <partial name="_UserCardPartial" model=@Model></partial>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dash-datepick">
                    <input type="hidden" id="light_datepick" />
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div>


<div class="modal fade" id="modal-edit-profile" tabindex="-1" role="dialog" aria-labelledby="modal-edit-profile1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h6 class="modal-title m-0 text-white">Bilgi Güncelle</h6>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-times text-white"></i></span>
                </button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <form id="userEditForm">
                    <div class="form-group">
                        <label>Profil Resmi Seç</label><br />

                         <div class="dastyle-profile-main-pic">
                            <img src="images/account-add-photo.svg" alt="profile-pic" height="80" width="80" class="rounded-circle" style="object-fit:contain;" id="output">
                            <input type="file" accept="image/*" class="btn btn-dark ml-4" id="newPhoto" value="Fotoğraf Değiştir" onchange="loadFile(event)" />
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label for="firstName">Ad:</label>
                            <input class="form-control" type="text" id="firstName" placeholder="Adınız">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="lastName">Soyad:</label>
                                <input id="lastName" type="text" class="form-control" placeholder="Soyadınız">
                            </div>
                        </div>
                    </div>

                </form>
            </div><!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-dark btn-sm" onclick="UpdateMyInfo();"><i class="fas fa-check"></i> Güncelle</button>
            </div><!--end modal-footer-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->


@section Scripts{
    <script src="~/js/user-page.js"></script>
    <script src="~/assets/vendor/lightpick.js"></script>
    <script>
        new Lightpick({
          field: document.getElementById('light_datepick'),
          inline: true,                
        });

    </script>
}